site_name: Marine Energy Resource Characterization
site_url: https://NatLabRockies.github.io/Marine_Energy_Resource_Characterization/
site_description: Software to standardize wave and tidal energy model outputs for public access
repo_url: https://github.com/NatLabRockies/Marine_Energy_Resource_Characterization
repo_name: NatLabRockies/Marine_Energy_Resource_Characterization

theme:
  name: material
  palette:
    - scheme: default
      primary: custom
      accent: custom
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.copy
  icon:
    repo: fontawesome/brands/github

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Tidal Hindcast: tidal-hindcast.md
  - Wave Hindcast: wave-hindcast.md
  - Contributing: contributing.md

markdown_extensions:
  - tables
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.arithmatex:
      generic: true
  - toc:
      permalink: true
  - attr_list
  - md_in_html

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/NatLabRockies/Marine_Energy_Resource_Characterization
  generator: false

copyright: Copyright &copy; 2025 Alliance for Energy Innovation, LLC
